

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
      url(../img/top-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;

    nav{
      transition: all .6s;
    }
  
    .flex {
      display: flex;
      padding-top: 40px;
      align-items: center;
      justify-content: space-between;
    }
  
    .logo {
      font-size: 200%;
      color: #fff;
      font-weight: 500;
      span {
        color: $sky-color;
      }
    }

    .main-nav-active{
      position: fixed;
      z-index: 2;
      width: 100%;
      top: -80px;
      background-color: #202020;
      .flex{
        padding: .4rem 0;
      }
      .logo{
        font-size: 160%;
      }
    }
  
    .main-nav {
      list-style: none;
  
      li {
        position: relative;
        display: inline-block;
        margin-left: 40px;
        border-bottom: solid 2px transparent;
  
        a {
          color: #fff;
          text-decoration: none;
          font-size: 80%;
          font-weight: 400;
          padding-bottom: 5px;
        }
        &:hover::before {
          transform: scale(1);
        }
        &::before {
          position: absolute;
          content: "";
          width: 110%;
          height: 0;
          bottom: -5px;
          left: -5%;
          border-bottom: 2px solid $sky-color;
          transform: scale(0);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  
    .container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 400;
      font-size: 120%;
      .i-am {
        margin-bottom: 1rem;
      }
      .name {
        font-size: 300%;
        color: #ffffff;
        margin-left: -5px;
        margin-bottom: 1rem;
      }
      .desc {
        color: #ffffff;
        .typer {
          color: $sky-color !important;
        }
      }
    }
  
    .discover {
      position: absolute;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      right: 40px;
      bottom: 40px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 80%;
      cursor: pointer;
      .icon {
        transform: rotate(180deg);
        font-weight: normal;
        animation: discover_arrow 1s infinite;
      }
    }
  }

  .nav-active {
    color: $sky-color !important;
  }
  
  @keyframes discover_arrow {
    50% {
      transform: rotate(180deg) translateY(10px);
    }
  }
  
  @keyframes hire-me_animation {
    50% {
      transform: scale(1.03);
    }
  }
  