@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: $grey-color;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

// ----------------------------------------------
// TypoGraphy
// ----------------------------------------------
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

h2 {
  font-size: 90%;
}

// ----------------------------------------------
// Re-useable compononet
// ----------------------------------------------

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.button {
  background-color: $sky-color;
  color: #ffffff;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  font-size: 60%;
  font-weight: 600;
  border-radius: 50px;
  display: inline-block;
  margin-top: 3.5rem;
  transition: background-color 0.4s;

  &:hover {
    background-color: $sky-color-dark;
    animation: hire-me_animation 1.5s infinite ease-in-out;
  }
}

.main-title {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
  h1 {
    &::before {
      position: absolute;
      content: "";
      height: 2px;
      background-color: $line-grey;
      left: 0;
      right: 0;
      bottom: -15px;
    }
  }

  span {
    position: absolute;
    bottom: -22px;
    left: 67%;
    background-color: $bg-grey-light;
    padding: 0 5px;
    color: $sky-color;
    font-weight: 600;
  }
}

// ----------------------------------------------
// Header
// ----------------------------------------------
@import "header";

// ----------------------------------------------
// About Me
// ----------------------------------------------
@import "about_me";

// ----------------------------------------------
// My Skills
// ----------------------------------------------
@import "skills";
