* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #c3c0bd;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

h2 {
  font-size: 90%;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.button {
  background-color: #16C0F0;
  color: #ffffff;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  font-size: 60%;
  font-weight: 600;
  border-radius: 50px;
  display: inline-block;
  margin-top: 3.5rem;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #129ac0;
  -webkit-animation: hire-me_animation 1.5s infinite ease-in-out;
          animation: hire-me_animation 1.5s infinite ease-in-out;
}

.main-title {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
}

.main-title h1::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #6e6d6d;
  left: 0;
  right: 0;
  bottom: -15px;
}

.main-title span {
  position: absolute;
  bottom: -22px;
  left: 67%;
  background-color: #323232;
  padding: 0 5px;
  color: #16C0F0;
  font-weight: 600;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/top-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/top-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-size: 200%;
  color: #fff;
  font-weight: 500;
}

header .logo span {
  color: #16C0F0;
}

header .main-nav {
  list-style: none;
}

header .main-nav li {
  position: relative;
  display: inline-block;
  margin-left: 40px;
  border-bottom: solid 2px transparent;
}

header .main-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 80%;
  font-weight: 400;
  padding-bottom: 5px;
}

header .main-nav li:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .main-nav li::before {
  position: absolute;
  content: "";
  width: 110%;
  height: 0;
  bottom: -5px;
  left: -5%;
  border-bottom: 2px solid #16C0F0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

header .container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 120%;
}

header .container .i-am {
  margin-bottom: 1rem;
}

header .container .name {
  font-size: 300%;
  color: #ffffff;
  margin-left: -5px;
  margin-bottom: 1rem;
}

header .container .desc {
  color: #ffffff;
}

header .container .desc .typer {
  color: #16C0F0 !important;
}

header .discover {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 40px;
  bottom: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80%;
  cursor: pointer;
}

header .discover .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: normal;
  -webkit-animation: discover_arrow 1s infinite;
          animation: discover_arrow 1s infinite;
}

.nav-active {
  color: #16C0F0 !important;
}

@-webkit-keyframes discover_arrow {
  50% {
    -webkit-transform: rotate(180deg) translateY(10px);
            transform: rotate(180deg) translateY(10px);
  }
}

@keyframes discover_arrow {
  50% {
    -webkit-transform: rotate(180deg) translateY(10px);
            transform: rotate(180deg) translateY(10px);
  }
}

@-webkit-keyframes hire-me_animation {
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@keyframes hire-me_animation {
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

.about-me-section {
  background-color: #323232;
  padding: 5rem 0;
}

.about-me-section .left h2 {
  position: relative;
  margin-bottom: 2rem;
}

.about-me-section .left h2::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #16C0F0;
  left: 0;
  right: 0;
  bottom: -15px;
  width: 15%;
}

.about-me-section .left .about-me-text {
  font-size: 75%;
  font-weight: 300;
}

.about-me-section .box {
  position: relative;
  margin-top: 3rem;
  background-color: #252525;
  padding: 1.5rem;
  margin-right: 13px;
}

.about-me-section .box ul {
  list-style: none;
  font-size: 80%;
}

.about-me-section .box li {
  margin-bottom: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.about-me-section .box li:last-child {
  margin: 0;
}

.about-me-section .box .icon-rounded {
  color: #ffffff;
  background-color: #16C0F0;
  padding: 10px;
  font-size: 110%;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.about-me-section .box .social-media {
  line-height: 1.42857143;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -12px;
  height: 76%;
  width: 35px;
  background: linear-gradient(135deg, #16C0F0 0%, #129ac0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 110%;
}

.about-me-section .box .social-media .icon {
  color: #ffffff;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.about-me-section .box .social-media .icon:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
}

.skills-section {
  background-color: #252525;
  padding: 5rem 0;
}

.skills-section .main-title span {
  background-color: #252525;
}

.skills-section .skill-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-section .skill-type div {
  position: relative;
  background-color: #323232;
  margin-bottom: 1rem;
  width: 50%;
  text-align: center;
  color: #16C0F0;
}

.skills-section .skill-type div p {
  padding: 0.7rem 0;
  font-weight: 500;
}

.skills-section .skill-type div .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #16C0F0;
  background-color: #252525;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills-section .skill-type .personal {
  margin-left: 4px;
}

.skills-section .skill-type .personal .triangle {
  display: none;
}

.skills-section .skill-type .active {
  background-color: #16C0F0;
  color: #ffffff;
}

.skills-section .box {
  background-color: #323232;
}

.skills-section .box .progress-container {
  position: relative;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.skills-section .box .progress-container:last-child {
  margin: 0;
}

.skills-section .box .progress-container .progress-bar {
  background-color: #16C0F0;
  height: 4px;
  border-radius: 5px;
}

.skills-section .box .progress-container h4 {
  background-color: #252525;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 100px;
  display: inline-block;
  padding: 0 63px 0 15px;
  font-size: 60%;
  height: 100%;
  line-height: 28px;
  border-radius: 20px;
  color: #c3c0bd;
  background: #323232;
  border: 1px solid #16C0F0;
  text-align: center;
}

.skills-section .box .progress-container h4 span {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  padding: 0 11px;
  line-height: 28px;
  height: 28px;
  border-radius: 20px;
  background: #16C0F0;
  color: #323232;
  border: 1px solid;
  text-align: center;
}

.skills-section .box .skills-list {
  padding: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */